<div class="container-fluid">
	<div class="row top-buffer">
  		<div class="col-xs-12">
		  <ul id="messages">
	  			<li ng-repeat="message in messageList" ng-class="{right: message.username == currentUser}">
						{{message.username}} :{{message.message}}
				</li>
		  </ul>
		</div>
	</div>
	<div class="row top-buffer">
  		<div class="col-xs-12">
		  <form name="chatform" class="css-form" novalidate ng-submit="sendMessage()">
				<div class="form-group">
				  	<input id="m" autocomplete="off" ng-model="message" class="form-control" />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-lg">Send</button>
				</div>
			</form>
		</div>
	</div>
	

</div>